* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px;

}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
} 



.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;

}

.input input {
  width: 100%;
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  border: 1px solid blue;
  
}

.input input:hover {
  transform: rotate(15deg)
    rotateY(17deg)
    perspective(600px)
    scale(0.9);
  transform-origin: center center;
}

.logo_section {
  margin-top: 100px;
}


 